<h3>Users</h3>

<% if current_user %>
  <% @users.each do |user| %>
    <ul> <%= user.email %></ul>
  <% end %>
  <p>-----------------------------------------</p>
  <%= link_to "Log Out", logout_path %>
<% else %>
<p><%= link_to 'New User', "/register" %></p>
<%= link_to "I already have an account", login_path %>
<% end %>


